<template>
    <div class="container">
        <div class="row">
            <div class="col-2 ms-auto">
                <timer />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <chord />
                <notes />
            </div>
        </div>
        <div class="row">
            <piano :octave-start="3" :octave-end="6" />
        </div>
    </div>
</template>

<script>
export default {
    name: "board"
}
</script>
