<template>
    <div class="container" id="baset">
	<SideBar />
	<router-view></router-view>
	<UpButton />
    </div>
</template>

<script>
import SideBar from "./Sidebar.vue"
import UpButton from "./UpButton.vue"

export default {
    name: "baset",
    components: {
        SideBar, UpButton
    },
}
</script>

<style scoped>
.container {
 border: 1px solid transparent;
}
</style>
