<template>
    <div class="content chord">
        Em7
    </div>
</template>

<script>
export default {
    name: "chord"
}
</script>

<style scope>
.chord {
    font-family: "crete round";
    font-weight: bold;
    font-size: 7em;
    color: #D2939E;
}
</style>
