<template>
    <div id="content1">
        <h3>The basics</h3>
        <img src="../assets/logo.png"/>

	<h5>Music Notes</h5>
	<p>
	Music notes can be a universal language for all those that enjoy music and music making. Music notes, like math, are a common language among musicians, producers, composers and instrumentalist that may be from different countries and may speak in different languages. By using a common musical language, everyone can play the same music in the same style.
	</p>
	<p>
	There are seven notes that make all music, they include A, B, C, D, E, F, and G. They can also be identified by the naming convention of Do-Re-Me-Fa-Sol-La-Ti. Each note has a unique pitch. There are twelve keys of music as displayed on a piano keyboard. A, A#/Bb, B, C, C#/Db, D D#/Eb, E, F, F#/Gb, G, G#/Ab.
	</p>

	<h5>Pitch</h5>
	<p>
	The pitch of music is determined by how high or low the frequency of a note is played. Pitch is measured by the frequency of sound wave vibrations and measured in Hertz. Each music note as a unique frequency. For example, some might say a vocal is pitchy and that would mean it is out of tune. Many vocalists will sing along with an instrument. If they are pitchy, this could mean that they are singing above or below the expected pitch.
	</p>

	<h5>Scale</h5>
	<p>
	Scale comes from the Latin word “ladder”. If you think of a ladder, there are rungs that you can move up or down. Musical scales mimic a ladder in this way. A more studious definition of musical scales is a set of notes within an octave arranged by their pitch. There are major scales and minor scales. There are also seven scale degrees. The function of a scale degree relates to the amount of tension it creates. All the different pitches in major and minor scales include:
	</p>

	<ul>
	  <li>1st – Tonic</li>
	  <li>2nd – Supertonic</li>
	  <li>3rd – Mediant</li>
	  <li>4th – Subdominant</li>
	  <li>5th – Dominant</li>
	  <li>6th – Submediant</li>
	  <li>7th – Leading Tone</li>
	</ul>

	<h5>Modes</h5>
	<p>
	Each mode has its own unique mood, making your sound darker or bright depending on how low or high the modal scale. Using a musical mode can bring a freshness to your standard musical sound. Specially, modes are a type of scale with distinct melody. Musical modes are scales derived from a parent scale. There are seven music modes. They include Ionian, Dorian, Phrygian, Lydian, Mixolydian, Aeolian, Locrian.
	</p>

	<h5>Rhythm</h5>
	<p>
	Rhythm is the controlled movement of music in time. Specifically, it is the way music is divided into beats that repeat a specific number of times within a bar at a specific speed or tempo.
	</p>

	<h5>Key Signatures</h5>
	<p>
	Key signatures identify the notes in a scale that are sharp or flat. They can also identify the key of a song. There are twelve key signatures, each named from the twelve available notes.
	</p>

    </div>
</template>

<script>
import { onMounted } from "vue"

export default {
    name: "content1",
}
</script>

<style scoped>

#content1 {
  display: inline-block;
  background-color: lightgray;
  border-radius: 0.2rem;
  width: 50%;
  float: right;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-right: 7rem;
  padding: 1.5rem;
  transition: 0.3s;
}

h3 {
  text-align: left;
}

h5 {
  text-align: left;
  margin: 1rem 0;
}

ul {
  text-align: left;
}

img {
  text-align: center;
  margin: 1rem 0;
}

p {
  text-align: left;
}

</style>
