<template>

<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <div class="navbar-brand"><i class="bi bi-music-note-beamed d-inline-block mx-2"></i>Music</div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
	  <li class="nav-item">
	    <router-link class="nav-link" to="/" exact>Piano</router-link>
	  </li>
	  <li class="nav-item">
	    <router-link class="nav-link" to="/docs">Docs</router-link>
	  </li>
	</ul>
      </div>
    </div>
  </nav>
</header>

</template>

<script>
export default {
  name: "navbar"
}
</script>

<style scoped>

nav {
  background-color: #232629;
  position: sticky;
  top: 0;
}

.navbar-brand {
  color: white;
}

div.navbar-brand::after {
  content: "";
  margin-left: 10px;
  height: 50%;
  border-right: 2px solid #F8F9FA;
}

.nav-item {
  margin: 0px 4px;
  padding: 5px 0px;
}

.nav-link {
  color: white !important;
  padding: 2px 0px;
}

.router-link-active {
  background-color: #F8F9FA;
  color: #232629 !important;
  border-radius: 0.3rem;
}

nav li .router-link-active{
  color: white;
}

</style>
